.container {
  grid-area: action-header;
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 16px 24px;
  background-color: var(--color-neutral-4);
}

@media (min-width: 500px) {
  .container {
    padding: 12px 24px;
    display: grid;
    grid-template-columns: 1fr 44px 44px;
    grid-template-areas: "filter notification profile";
  }
}

@media (min-width: 768px) {
  .container {
    border-radius: var(--rounded-2xl);
  }
}
