.datePickerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.datePicker {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #94979a1a;
  padding-left: 10px;
  border-radius: var(--rounded);
}

.datePicker path {
  fill: var(--color-neutral-1);
}

.isError {
  border: 1px solid var(--color-primary-4);
}
.errorMessage {
  color: var(--color-primary-4);
  position: absolute;
  bottom: -20px;
}

.calendarIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
}

.input {
  position: relative;
  background-color: transparent;
  height: 32px;
  border: none;
  color: var(--color-neutral-1);
  outline: none;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 129px;
  max-width: 161px;
  padding-left: 32px;
  cursor: pointer;
}

.input::placeholder {
  color: var(--color-neutral-1);
}

.customHeader {
  background-color: var(--color-neutral-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
}

.navButton {
  background: none;
  border: none;
  color: var(--color-neutral-1);
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0px;
}

.navButton:hover path {
  fill: var(--color-primary-4);
}

.chevronsContainer {
  display: flex;
  padding: 0px;
}

@media (max-width: 616px) {
  .datePicker {
    width: 100%;
    justify-content: flex-start;
    padding-left: 10px;
  }

  .input {
    width: 100%;
    padding-left: 32px;
    cursor: pointer;
  }
}
