.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 16px;
  right: 16px;
  width: 64px;
  height: 64px;
  background-color: var(--color-primary-4);
  border-radius: var(--rounded-full);
}

.container path {
  fill: var(--color-neutral-1);
}

@media (min-width: 500px) {
  .container {
    display: none;
  }
}
