.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeaderTitle {
  font-weight: 700;
  font-size: var(--text-lg);
  line-height: var(--leading-lg);
  letter-spacing: var(--letter-spacing);
  color: var(--color-neutral-1);
}

.popoverTrigger {
  background-color: transparent;
  border: none;
}

.moreIcon {
  cursor: pointer;
}

.popoverContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-lg);
  border: 1px solid var(--color-neutral-2);
  padding: 0px;
  width: 138px;
  height: 88px;
  background-color: var(--color-neutral-3);
  /* box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px; */
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.buttonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 8px;
  width: 100%;
  cursor: pointer;

  background-color: transparent;
  border: none;

  font-weight: 400;
  font-size: var(--text-md);
  line-height: var(--leading-md);
  letter-spacing: var(--letter-spacing);
  color: var(--color-neutral-1);
}
