.titleGroup {
  font-weight: 700;
  font-size: var(--text-lg);
  line-height: var(--leading-lg);
  color: var(--color-neutral-2);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 16px;
}

.taskGroup {
  height: 100px;
}

.group {
  box-sizing: content-box;
  padding-bottom: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 340px;
  max-width: 480px;
  min-height: 500px;
  height: fit-content;
}

.group::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s ease;
}

.group::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
