.titleGroup {
  font-weight: 700;
  font-size: var(--text-lg);
  line-height: var(--leading-lg);
  color: var(--color-neutral-2);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 16px;
}

.group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 340px;
  height: 78vh;
  overflow-y: scroll;
}

.group::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s ease;
}

.group::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 500px) {
  .taskGroup {
    display: block;
    height: auto;
  }
}

@media (min-width: 992px) {
  .group {
    overflow-y: scroll;
  }
}
