.card {
  width: 340px;
  height: 208px;
  background-color: var(--color-neutral-4);
  border-radius: var(--rounded-lg);
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeaderTitle {
  font-weight: 700;
  font-size: var(--text-lg);
  line-height: var(--leading-lg);
  letter-spacing: var(--letter-spacing);
  color: var(--color-neutral-1);
}

.cardSubHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardSubHeader span {
  color: var(--color-neutral-1);
  font-size: var(--text-md);
  line-height: var(--leading-md);
  letter-spacing: var(--letter-spacing);
}

.cardTags {
  display: flex;
  gap: 8px;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskDetails {
  display: flex;
  align-items: center;
  width: 106px;
  justify-content: space-between;
}

.taskDetails span {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--color-neutral-1);
}
