.viewMode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  border: 1px solid var(--color-primary-4);
  border-radius: var(--rounded-lg);
}

.selected path {
  fill: var(--color-primary-4);
}
