.titleGroup {
  font-weight: 700;
  font-size: var(--text-lg);
  line-height: var(--leading-lg);
  color: var(--color-neutral-2);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 16px;
}

.group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 340px;
  max-height: 640px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.accordionEmpty {
  border-radius: var(--rounded);
  background-color: var(--color-neutral-4);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 4px 16px;
  height: 56px;
  width: 100%;

  border: 1px solid var(--color-neutral-3);
  outline: none;
}

@media (min-width: 500px) {
  .taskGroup {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .group {
    max-height: 100%;
  }
}
