.formView {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.comboBoxes {
  display: flex;
  gap: 16px;
}

.input {
  height: 32px;
  color: var(--color-neutral-1);
  background-color: transparent;
  border: none;
}

.selectValue {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 8px;
}

.buttons {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
