@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "SanFranciscoProDisplay";
  src: url("./assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SanFranciscoProDisplay";
  src: url("./assets/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SanFranciscoProDisplay";
  src: url("./assets/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF");
  font-weight: 800;
  font-style: normal;
}

:root {
  font-family: "Roboto";

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-neutral-1: #ffffff;
  --color-neutral-2: #94979a;
  --color-neutral-3: #393d41;
  --color-neutral-4: #2c2f33;
  --color-neutral-5: #222528;
  --color-neutral-opacity: rgb(148, 151, 154, 0.1);

  --color-primary-1: #f4ccc8;
  --color-primary-2: #eba59e;
  --color-primary-3: #e27d73;
  --color-primary-4: #da584b;
  --color-primary-opacity: rgb(218, 88, 75, 0.1);

  --color-secondary-1: #c8e1bc;
  --color-secondary-2: #aad199;
  --color-secondary-3: #8dc275;
  --color-secondary-4: #70b252;
  --color-secondary-opacity: rgb(112, 178, 82, 0.1);

  --color-tertiary-1: #f9eed7;
  --color-tertiary-2: #f2daab;
  --color-tertiary-3: #ebc77f;
  --color-tertiary-4: #e5b454;
  --color-tertiary-opacity: rgb(229, 180, 84, 0.1);

  --color-react: #70b2d9;
  --color-react-opacity: rgb(112, 178, 217, 0.1);
  --color-node_js: #9a52b2;
  --color-node_js-opacity: rgb(154, 82, 178, 0.1);
  --color-android: #e5b454;
  --color-android-opacity: rgb(229, 180, 84, 0.1);
  --color-ios: #70b252;
  --color-ios-opacity: rgb(112, 178, 82, 0.1);
  --color-rails: #da584b;
  --color-rails-opacity: rgb(218, 88, 75, 0.1);

  --letter-spacing: 0.75px;
  --letter-spacing-sm: 0.25px;

  --text-xl: 20px;
  --leading-xl: 32px;

  --text-lg: 18px;
  --leading-lg: 32px;

  --text-md: 15px;
  --leading-md: 24px;

  --text-sm: 13px;
  --leading-sm: 22px;

  --leading: 20px;

  --rounded-full: 50%;
  --rounded-3xl: 24px;
  --rounded-2xl: 16px;
  --rounded-xl: 12px;
  --rounded-lg: 8px;
  --rounded-md: 6px;
  --rounded: 4px;
  --rounded-sm: 2px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body,
html {
  height: 100vh;
  width: 100%;
}

body {
  background-color: var(--color-neutral-5);
}

::-webkit-scrollbar {
  border-radius: 3px;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.5s ease;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

@media (min-width: 992px) {
  :root {
    font-family: SanFranciscoProDisplay;
  }
}
