.cardSubHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardSubHeader span {
  font-weight: 700;
  color: var(--color-neutral-1);
  font-size: var(--text-md);
  line-height: var(--leading-md);
  letter-spacing: var(--letter-spacing);
}
